.account-content {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-content h2 {
    margin-top: 0;
    font-size: 25px;
}

#settings-form {
    margin-top: 50px;
}

#settings-form h3 {
    color: #333;
    text-align: center;
    margin-bottom: 50px;
}

.info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.info label {
    width: 150px;
    font-weight: bold;
}

.info input[type="checkbox"] {
    margin-left: 10px;
}

.info input[type="checkbox"] + label {
    margin-left: 5px;
}