.photo-grid, .sorting-buttons {
    width: 100%;
}

.sorting-buttons {
    position: fixed;
    bottom: 0;        
    width: 100%;
    background-color: white; 
    border-top: 1px solid #ccc; 
    padding: 10px 20px;
    z-index: 1000;      
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sorting-buttons button {
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f4f4f4; 
    border: none;
    border-radius: 5px; 
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /*margin: 10px auto;*/
    /*padding: 10px;*/
    margin: 10px auto 55px;
}

.photo-item {
    width: calc(100% - 20px);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    padding: 5px;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #f0f0f0;
    border: 3px solid white;
}
