.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px auto 40px;
}

.collage img {
    object-fit: cover;
    border: 3px solid white;
    width: calc(100% - 20px);
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin: auto;
}

.recent-images {
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
    font-family: 'Lucida Grande', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
